@charset "UTF-8";
/* color变量 */
/* spacing */
/* borders */
/* box-shadow */
/* font-size */
@import url("https://fonts.google.com/specimen/Ma+Shan+Zheng?sjid=489867880207003152-EU&lang=zh_Hans");
/* 基本样式 */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}