/* color变量 */
$primary:#3299ef;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;
$red: #e61919;
$yellow: #e6e619;
$green: #19e635;
$orange: #ffa600;
$purple: #9900ff;
$gray: #808080;
$black: #000;
$white: #fff; 

// sass map
$colors:(
  'primary': $primary,
  'secondary': $secondary,
  'error': $error,
  'info': $info,
  'red': $red,
  'yellow': $yellow,
  'green': $green,
  'orange': $orange,
  'purple': $purple,
  'gray': $gray,
  'black': $black,
  'white': $white   
);


/* spacing */
$base-padding: 1rem;
$base-margin: 1rem;


/* borders */
$base-border-thickness: 1px;
$base-border-radius:20px;


/* box-shadow */
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);


/* font-size */
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
